<div class="mdl-cell mdl-cell--12-col">
  <h2>Welcome to the game number {{model.id}}</h2>
</div>
<div class="mdl-cell mdl-cell--8-col flex flex-center">
  <div class="tic-tac-toe">
    {{#each this.gameSpots as |spot index|}}
      <div {{action play index}}>{{spot}}</div>
    {{/each}}
  </div>
</div>
<GameResult @game={{model}} />
<div class="mdl-cell mdl-cell--8-col flex flex-center">
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" {{action updateGame}}>
    Update game status
  </button>
</div>
