<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--4dp">
    <h2 class="text-center">Tic-Tac-Toe</h2>
    <h3 class="text-center">Signup</h3>
    <div>
      {{#each errors as |error|}}
        <p class="error">{{error}}</p>
      {{/each}}
      <form {{action "signUp" on="submit"}} class="flex flex-col align-center pb-2">
        {{mdl-textfield label="Email" value=email type="email" errorMessage="Insert a valid email"}}
        {{mdl-textfield label="Password" value=password type="password" pattern=".{6}.*" errorMessage="Password must be at least 6 characters long"}}
        {{mdl-button isRaised=true text="Signup" disabled=submiting}}
        {{#link-to "login" class="form-link"}}Login to your account{{/link-to}}
      </form>
    </div>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
